footer{
    background: #FFFAF2;
}

.btn{
    border: none;
    background: none;
    cursor: pointer;
}

.contact{
    margin-top: 24px;
    font-size: 14px;
    line-height: 17px;
}

.contact__links{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 75%;
}

.contact ul{
    list-style: none;
    display: flex;
    flex-flow: wrap column;
    justify-content: left;
    padding-left: 0;
    width: 50%;
}

.contact__phone-email{
    width: 100%;
}

.contact li{
    margin-top: 18px;
    text-align: left;
}

.contact li a{
    text-decoration: none;
    color: black;
}

.contact__phone-email{
    margin-top: 18px;
}    

ul{
    margin: 0;
}

.footer__btn{

    margin-left: 90%;
}

@media screen and (min-width: 1000px){
    .contact__phone-email p{
        line-height: 22px;
    }

    .contact__links{
        align-items: flex-start;
    }

    .contact__links{
        max-width: 100%;
    }

    .contact__phone-email{
        width: max-content;
    }

    .footer__btn{
        margin-top: 10%;
        margin-left: 100%;
    }

    footer{
        padding-bottom: 130px;
    }
}