*{
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 14.5px;
    
    margin: 0;
    padding: 0;
}

.container{
    width: 81.6%;
    margin: 0 auto;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Libre Franklin', sans-serif;
    text-align: center;
}

h1{
    font-weight: 700;
}

h2{
    font-weight: 600;
    font-size: 24px;
}

h3{
    font-weight: 500;
}