.portfolio{
    padding-top: 24px;
    padding-bottom: 28px;
}

.portfolio__subtitle{
    font-size: 14;
    margin-top: 20px;
    margin-bottom: 15px;
}

.portfolio p{
    margin-bottom: 20px;
}

.gallery__left, .gallery__right{
    display: flex;
    flex-direction: column;
}

.gallery img{
    display: block;
}

.gallery__left picture:first-child, .gallery__right picture:first-child{
    margin-bottom: 14px;
}

.gallery__left{
    height: fit-content;
    margin-right: 14px;
}

.gallery__imgs{
    width: 308px;
    height: 195px;
    margin-bottom: 24px;

    display: flex;
}

.rotate90l{
    transform: rotate(-90deg);
}

.rotate90r{
    transform: rotate(90deg);
}

.gallery__controll{
    display: none;
}

@media screen and (min-width: 1000px){
    .portfolio__subtitle{
        font-size: 18px;
        text-align: left;
        margin-top: 86px;
        margin-bottom: 48px;
    }

    .gallery__imgs{
        margin-bottom: 0;
    }

    .portfolio{
        padding-bottom: 146px;
    }

    .gallery__controll{
        display: block;
    }

    .gallery__text p{
        display: flex;
        flex-direction: column;
        line-height: 30px;
        width: 350px;
    }

    .gallery__imgs{
        width: 636px;
        height: 404px;
    }

    .gallery__text{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-bottom: 9px;
    }

    .gallery{
        display: flex;
        justify-content: space-between;
    }

    .img1{
        width: 350px;
        height: 144px;
    }

    .img2{
        width: 350px;
        height: 234px;
    }

    .img3{
        width: 256px;
        height: 234px;
    }

    .img4{
        width: 256px;
        height: 144px;
    }
}